Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-build-containers-centos-8, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-ubuntu-source-zun, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

tripleo-build-containers-centos-8:
  voting: false

kolla-base:
  parent: base
  timeout: 10200
  post-timeout: 3600
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 1
  required-projects:
  - openstack/kolla-ansible
  - openstack/requirements
  vars:
    publisher: false

kolla-build-centos-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: centos
    install_type: binary

kolla-publish-centos-binary:
  parent: kolla-build-centos-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-centos-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: centos
    install_type: source

kolla-publish-centos-source:
  parent: kolla-build-centos-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-binary:
  parent: kolla-base
  nodeset: kolla-ubuntu
  voting: false
  vars:
    action: build
    base_distro: ubuntu
    install_type: binary

kolla-publish-ubuntu-binary:
  parent: kolla-build-ubuntu-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-source:
  parent: kolla-base
  nodeset: kolla-ubuntu
  vars:
    action: build
    base_distro: ubuntu
    install_type: source

kolla-publish-ubuntu-source:
  parent: kolla-build-ubuntu-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: oraclelinux
    install_type: binary

kolla-publish-oraclelinux-binary:
  parent: kolla-build-oraclelinux-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: oraclelinux
    install_type: source

kolla-publish-oraclelinux-source:
  parent: kolla-build-oraclelinux-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

CI: Avoid tox
  .zuul.d/base.yaml
  .zuul.d/centos.yaml
  .zuul.d/debian.yaml
  .zuul.d/ubuntu.yaml
  tests/playbooks/pre.yml
  tests/playbooks/run.yml
  tests/templates/kolla-build.conf.j2
  tests/test_build.py
  tox.ini
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Ansiblify setup of builders
  tests/playbooks/pre.yml
  tests/playbooks/run.yml
  tools/setup_Debian.sh
  tools/setup_RedHat.sh
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Disable Rocky periodic publishing jobs
  .zuul.d/centos.yaml
  .zuul.d/oraclelinux.yaml
  .zuul.d/ubuntu.yaml
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix invalid test in cinder data migration script
  docker/cinder/cinder-api/extend_start.sh
  releasenotes/notes/bug-1866827-5351ec43486d7f33.yaml
Due: tripleo-build-containers-centos-8, kolla-ansible-centos8-source-zun, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Collectd: ignore failure of disabling epel repos
  docker/collectd/Dockerfile.j2
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Use network mode = host
  tests/templates/kolla-build.conf.j2
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove unused script rabbitmq_get_gospel_node.py
  docker/rabbitmq/Dockerfile.j2
  docker/rabbitmq/rabbitmq_get_gospel_node.py
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix --skip-existing and --skip-parents
  kolla/image/build.py
  kolla/tests/test_build.py
  releasenotes/notes/fix-skips-d5cb9546110300ee.yaml
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Make deploy jobs voting again
  .zuul.d/centos.yaml
  .zuul.d/oraclelinux.yaml
  .zuul.d/ubuntu.yaml
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Upgrade RabbitMQ to 3.8
  docker/base/Dockerfile.j2
  docker/base/apt_preferences.debian
  docker/base/apt_preferences.ubuntu
  docker/base/rabbitmq_rabbitmq-erlang-aarch64.repo
  docker/base/rabbitmq_rabbitmq-erlang.repo
  docker/base/rabbitmq_rabbitmq-server.repo
  docker/base/sources.list.debian
  docker/base/sources.list.ubuntu
  docker/kolla-toolbox/Dockerfile.j2
  docker/macros.j2
  docker/rabbitmq/Dockerfile.j2
  kolla/template/repos.yaml
  releasenotes/notes/rabbitmq-version-upgrade-ac67bd6ae99c8169.yaml
Due: tripleo-build-containers-centos-8, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add docs and release note for CentOS 8
  doc/source/admin/image-building.rst
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  doc/source/support_matrix.rst
  releasenotes/notes/centos-8-950d979507939643.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Follow up on RabbitMQ 3.8 upgrade
  docker/base/apt_preferences.debian
  docker/base/apt_preferences.ubuntu
  docker/base/rabbitmq_rabbitmq-erlang-aarch64.repo
  docker/base/rabbitmq_rabbitmq-erlang.repo
  docker/base/rabbitmq_rabbitmq-server.repo
Due: tripleo-build-containers-centos-8, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump versions (Train)
  kolla/common/config.py
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump versions (Stein)
  kolla/common/config.py
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Sensu: Remove ceph and process-checks plugins from client
  docker/sensu/sensu-client/Dockerfile.j2
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

add dpdk_telemetry and logparser for C8, use centos-release-opstools for C8
  docker/base/Dockerfile.j2
  docker/collectd/Dockerfile.j2
  releasenotes/notes/add_dpdk_telemetry_and_logparser-bcf9b13bcefc99c9.yaml
Due: tripleo-build-containers-centos-8, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Sensu: Add release note for ceph & process-checks removal
  releasenotes/notes/remove-sensu-plugins-48b206bb0d278423.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Exclude pcie_errors on s390x, it fails to build
  docker/collectd/Dockerfile.j2
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

qdrouterd: drop Debian/Ubuntu part
  docker/qdrouterd/Dockerfile.j2
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

swift: use python3 for scripts
  docker/swift/swift-base/swift-rootwrap
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

base/debian: pin erlang 22 for rabbitmq
  docker/base/apt_preferences.debian
Due: tripleo-build-containers-centos-8, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

base/centos: influxdb repo is only on x86-64
  docker/base/Dockerfile.j2
Due: tripleo-build-containers-centos-8, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

openstack-base: PyNaCl needs 'make' to build
  docker/openstack-base/Dockerfile.j2
Due: tripleo-build-containers-centos-8, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

kibana: use Linaro provided package for Ubuntu/aarch64
  kolla/template/repos.yaml
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: add Centos 8 and Ubuntu jobs for aarch64
  .zuul.d/base.yaml
  .zuul.d/centos.yaml
  .zuul.d/debian.yaml
  .zuul.d/ubuntu.yaml
  tests/templates/template_overrides.j2
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add collectd-pmu package for Intel PMU (C8 only)
  docker/collectd/Dockerfile.j2
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

re-enable collectd-rdt plugin
  docker/collectd/Dockerfile.j2
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

add collectd-pmu, collectd-rtd and collectd-turbostat to C8
  docker/collectd/Dockerfile.j2
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add elasticsearch6 and kibana6 images
  docker/elasticsearch6/Dockerfile.j2
  docker/elasticsearch6/elasticsearch.repo
  docker/elasticsearch6/extend_start.sh
  docker/kibana6/Dockerfile.j2
  docker/kibana6/elasticsearch.repo
  docker/kibana6/extend_start.sh
  kolla/image/build.py
  releasenotes/notes/elk-6-573a9f2b4af4444a.yaml
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Upgrade Elasticsearch and Kibana to 6.x
  docker/base/apt_preferences.debian
  docker/base/elasticsearch.repo
  docker/elasticsearch/elasticsearch/Dockerfile.j2
  docker/kibana/Dockerfile.j2
  kolla/template/repos.yaml
  kolla/tests/test_methods.py
  releasenotes/notes/upgrade-elasticsearch-and-kibana-to-6.X-ee448b2e8ae51922.yaml
Due: tripleo-build-containers-centos-8, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add vitrage-persistor image
  docker/vitrage/vitrage-persistor/Dockerfile.j2
  releasenotes/notes/bug-1869319-aa032c1330b540dc.yaml
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Allow operators to use "ceilometer-upgrade" parameters
  docker/ceilometer/ceilometer-notification/extend_start.sh
  releasenotes/notes/allow-custom-ceilometer-upgrade-params-7c08446f59251cf0.yaml
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix that the cyborg database init failed.
  docker/cyborg/cyborg-api/extend_start.sh
Due: tripleo-build-containers-centos-8, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  tripleo-build-containers-centos-8: any of: ^.zuul.d/centos.yaml$, ^docker/.*$, ^kolla/.*$, ^requirements.txt$, ^setup.cfg$, ^setup.py$
  kolla-ansible-centos8-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-centos8-source-scenario-nfv: any of: ^docker\/(base|barbican|heat|mistral|openstack-base|redis|tacker)\/.*
  kolla-ansible-centos8-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(zun|kuryr)\/.*
  kolla-base: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
